version: '3'

services:
  wmrh-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: wmrh-api
    image: wmrh-api
    restart: unless-stopped
    ports:
      - "3001:3000"
    networks:
      - app-network
    volumes:
      - ./wmrh-api/:/app
      - /app/node_modules
    depends_on:
      - db
    env_file:
      - .env
  db:
    restart: always
    image: postgres:15
    container_name: wmrh-db
    command: ["-c", "shared_buffers=256MB", "-c", "max_connections=500"]
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./init-database.sh:/docker-entrypoint-initdb.d/init-database.sh
    environment:
      - POSTGRES_PASSWORD=kataku
    ports:
      - 5454:5432
    env_file:
      - .env
    expose:
      - 5454
    networks:
      - app-network

  
  adminer:
    image: adminer
    container_name: wmrh-adminer
    restart: always
    ports:
      - 8082:8080
    networks:
      - app-network

volumes:
  postgres:
    driver: local 

    
networks:
  app-network:
    driver: bridge
    # external: true
 